.hero {
  grid-column: 1 / -1;
  display: grid;
  position: relative;

  min-height: 500px;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  column-gap: 2rem;
  row-gap: 1rem;

  @include respond(small) {
    min-height: 200px;
    padding: 0 0.5rem;
  }

  &__image {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    z-index: 1;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    position: relative;

    height: 100%;

    perspective: 1000px;

    @include respond(largest) {
      grid-column: 1/ 4;
    }

    @include respond(large) {
      grid-column: 1/ 5;
    }

    @include respond(medium) {
      grid-row: 1 / 2;
      grid-column: 1 / 6;
    }

    @include respond(small) {
      grid-row: 1/4;
      grid-column: 1/6;
    }

    &-div {
      grid-column: 1;
      grid-row: 1;
      position: relative;
      justify-self: stretch;
      align-self: contain;
      transform: rotateY(180deg);
      transition: all 0.5s ease;
      backface-visibility: hidden;

      height: 100%;
      min-height: 60rem;
      background-size: cover;
      background-position: center;
      border-radius: 2rem;
      opacity: 1;

      @include respond(medium) {
        min-height: 50rem;
      }

      &--me {
        transform: rotateY(-180deg);
        background-image: url(img/me.png);
      }

      &--dogs {
        transform: rotateY(180deg);
        background-image: url(img/dogs.png);
      }

      &--active {
        transform: rotateY(0deg) !important;
      }
    }

    &-fade {
      opacity: 0 !important;
    }
  }

  &__title {
    display: inline-block;
    grid-column: 4/9;
    grid-row: 1/2;
    text-align: right;
    justify-self: stretch;
    z-index: 2;
    line-height: 1.5;

    &-spanner {
      background-color: rgba($color-grey, 0.8);
      border-radius: 3rem;
      box-decoration-break: clone;
      padding: 1rem;
    }
  }

  &__lead {
    display: inline-block;
    grid-column: 4/9;
    grid-row: 3/5;
    font-size: 3.5rem;
    word-wrap: nowrap;
    white-space: nowrap;

    justify-self: end;
    z-index: 2;

    background-color: rgba($color-grey, 0.8);
    border-radius: 3rem;
    padding: 1rem;

    @include respond(largest) {
      justify-self: start;
    }

    @include respond(medium) {
      grid-column: 1/-1;
      grid-row: 4/6;
      justify-self: center;
      padding: 2rem 0;
    }
    @include respond(small) {
      br {
        content: " ";
      }
      br:after {
        content: " ";
      }
      white-space: pre-line;
      padding: 2rem 0.5rem;
    }
  }
}
