.projects {
  grid-column: 1/-1;

  border-top: 0.5px solid rgba($color-primary, 0.5);

  align-self: center;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 5rem;
  row-gap: 5rem;
  padding: 8rem 5rem;
  width: 100%;

  @include respond(large) {
    padding: 3rem 2rem;
  }
  @include respond(medium) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__title {
    grid-column: 1/-1;
    text-align: center;
  }
}
