.skills {
  border-top: 0.5px solid rgba($color-primary, 0.5);

  grid-column: 1/-1;
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, min-content);
  row-gap: 5rem;
  padding: 8rem 5rem;
  width: 100%;

  @include respond(large) {
    padding: 3rem 0rem;
  }
  @include respond(medium) {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
  }

  &__title {
    grid-column: 1/-1;
    text-align: center;
  }

  &__group {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    padding: 1rem;

    &:not(:last-of-type) {
      border-right: 1px dashed rgba($color-primary, 0.5);
      @include respond(medium) {
        border-right: none;
      }
    }
  }

  &__group-list {
    list-style: none;
    font-size: 2.4rem;
  }
}
