header.header
    div.header__group
        a(href="https://www.linkedin.com/in/thomas-blake/").header__link LinkedIn
        a(href="https://twitter.com/TJMBlake").header__link Twitter
        a(href="https://github.com/tjmblake").header__link Github
    nav.header__group
        a(href="/").header__link Home
        a(href="/blog").header__link Blog
        a(href="..#contact").header__link Contact