header.header
    div.header__group
        a(href="#").header__link LinkedIn
        a(href="#").header__link Twitter
        a(href="#").header__link Github
    nav.header__group
        a(href="/").header__link Home
        a(href="/blog").header__link Blog
        a(href="..#contact").header__link Contact