// COLOR VARIABLES
$color-primary: #66fec9;
$color-grey: #476f92;
$color-white: #ffffff;
// $color-primary: #1ce8c3;
// $color-grey: #454545;
// $color-white: #ffffff;

// FONT VARIABLES
$font-primary: "Sora", sans-serif;
$font-serif: "Playfair Display", serif;

// Responsive breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000 px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
