<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/bundle.css">
	<link rel="stylesheet" href="/prism-rose-pine-main-alt.css">
  </head>
  <body>
	<article>
    {{ content | safe }}
	<h2>Articles</h2>
	<ul>
		{%- for post in collections.post -%}
		<li><a href="{{ post.url }}">{{ post.date.toLocaleDateString('en-GB') }} - {{ post.data.title }}</a></li>
		{%- endfor -%}
	</ul>
	</article>
	<ul>
	</ul>
  </body>
</html>
