<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/bundle.css">
	<link rel="stylesheet" href="/prism-rose-pine-main-alt.css">
  </head>
  <body>
	<article>
	<h1>{{ title }}</h1>
	<code>Updated: {{ page.date.toLocaleDateString('en-GB') }}</code>
    {{ content | safe }}
	</article>
	<ul>
	</ul>
  </body>
</html>
