doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Thomas Blake


    include _includes/_favicon

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

    link(href="https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="../main.css")
    
    script(src="./bundle.js" defer)  
  body 
    .grid.home
      include _includes/_nav

      div.hero.magic-hover
        figure.hero__image
          div.hero__image-div.hero__image-div--me.hero__image-fade
          div.hero__image-div.hero__image-div--dogs.hero__image-fade.hero__image-div--active
        h1.hero__title
          span.hero__title-spanner  Hi,<br class="hero__title-spanner-br"> I’m<br>
            span.u-color-primary.u-underline Tom<br class="hero__title-spanner-br"> Blake
        h2.hero__lead When I’m not walking my dogs,<br>
          span.u-color-primary.u-underline#dogs.link Rigsby & Beau
          | , here are some of <br>the things I’ve made:
        div.hero__scroll-icon.hero__scroll-icon-hide

      div.projects
        h2.projects__title My Projects
        p 
          a(href="https://www.npmjs.com/package/slector").link Slector
          span  is an open-source NPM package which allows users to easily prepare crawler targets. 
        p 
          a(href="../pages/building-cyclr-sandbox").link Cyclr Sandbox
          span  serves front-end lessons with an API, new developers recieve a interactive curriculum at onboarding.
        p 
          span.link VitaCompare
          span  is an upcoming comparison site for Vitamins and health products.
        p 
          span.link JSON-Editing Tool
          span  automates tasks improving work-flow by 30%. 
      div.skills.magic-hover
        h2.skills__title My Skills
        div.skills__group
          h3.u-color-primary Experienced
          ul.skills__group-list 
            li Javascript
            li Node JS
            li MongoDB 
            li Express 
            li Web-Crawling 
            li HTML / SCSS
        div.skills__group
          h3.u-color-primary Learning
          ul.skills__group-list 
            li Typescript
            li Webpack
            li React
            li Redux
        div.skills__group
          h3.u-color-primary Interested
          ul.skills__group-list 
            li Machine Learning
            li AWS
            li Redis
            li PostgreSQL
      div.contact#contact
        h2.contact__title Contact
        p.contact__text The best way to contact me is by sending me a message on 
          a(href="https://www.linkedin.com/in/thomas-blake/").u-color-primary.link LinkedIn
      