*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem is 10 px;

  @include respond(small) {
    font-size: 50%;
  }
}

a:hover {
  cursor: none;
}

body {
  background-color: $color-grey;
  color: $color-white;
}
